$white: #aec1d0;

ul {
  border-color: #8b5fe9 !important;
  li {
    letter-spacing: 0.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    background-color: #292a2d !important;
    border-color: #8b5fe928 !important;
    fa-icon {
      margin-left: 1rem;
      color: $white;
    }
    fa-icon:hover {
      color: #8b5fe9;
    }
    p{
      margin: 0px;
      padding: 0.5rem 0px 0.5rem 0px;
    }
  }
  li:hover {
    background-color: #202124 !important;
    color: #8b5fe9;
  }
}

.error {
  h2, h4{
    color: $white;
  }
}
