$white: #aec1d0;
$violet: #8b5fe9;
$text-color: #aec1d0;
$background-color: #292a2d;

button {
  background-color: $violet;
  color: $background-color;
}
button:hover {
  background-color: #6e49be;
}

input {
  height: 4rem;
  border-color: $violet !important;
  background-color: $background-color;
  color: $text-color;
  input:focus {
    border-color: $violet !important;
  }
}

ul {
  border-color: #8b5fe9 !important;
  li {
    letter-spacing: 0.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    background-color: #292a2d !important;
    border-color: #8b5fe928 !important;
    fa-icon {
      margin-left: 1rem;
      color: $white;
    }
    fa-icon:hover {
      color: #8b5fe9;
    }
    input {
      margin: 0px;
      padding: 0.5rem 0px 0.5rem 0px;
    }
  }
  li:hover {
    background-color: #202124 !important;
    color: #8b5fe9;
  }
}

.error {
  h2,
  h4 {
    color: $white;
  }
}
