<div class="row justify-content-center">
  <div class="col-11 my-3 rounded" id="task-list">
    <ul class="list-group border border-2">
      <li class="list-group-item">
        <p class="col-10">Testando item novo teste stes teste testesteste</p>
        <div class="col-2">
          <fa-icon [icon]="faPencilAlt"></fa-icon>
          <fa-icon [icon]="faTrash"></fa-icon>
        </div>
      </li>
      <li class="list-group-item">
        <p class="col-10">Teste</p>
        <div class="col-2">
          <fa-icon [icon]="faPencilAlt"></fa-icon>
          <fa-icon [icon]="faTrash"></fa-icon>
        </div>
      </li>
      <li class="list-group-item">
        <p class="col-10">teste</p>
        <div class="col-2">
          <fa-icon [icon]="faPencilAlt"></fa-icon>
          <fa-icon [icon]="faTrash"></fa-icon>
        </div>
      </li>
      <li class="list-group-item">
        <p class="col-10">Teste</p>
        <div class="col-2">
          <fa-icon [icon]="faPencilAlt"></fa-icon>
          <fa-icon [icon]="faTrash"></fa-icon>
        </div>
      </li>
      <li class="list-group-item">
        <p class="col-10">Teste</p>
        <div class="col-2">
          <fa-icon [icon]="faPencilAlt"></fa-icon>
          <fa-icon [icon]="faTrash"></fa-icon>
        </div>
      </li>
    </ul>
  </div>
</div>